<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{user.username}}'s profile</h3>
                </div>
                <div class="panel-body">
                    <div class=" col-md-12 col-lg-12 ">
                        <table class="table table-user-information">
                            <tbody>
                            <tr>
                                <td>
                                    <div class="form-group field-updateform-username">
                                        <label for="updateform-username" class="control-label">Username</label>
                                        <input type="text" placeholder="{{user.username}}" ng-model="user.username"
                                               value=""
                                               name="UpdateForm[username]" class="form-control"
                                               id="updateform-username">

                                        <div class="help-block"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group field-updateform-mobile_number">
                                        <label for="updateform-mobile_number" class="control-label">Mobile
                                            Number</label>
                                        <input type="text" placeholder="{{user.mobile_number}}"
                                               ng-model="user.mobile_number" value=""
                                               name="UpdateForm[mobile_number]" class="form-control"
                                               id="updateform-mobile_number">

                                        <div class="help-block"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group field-updateform-email">
                                        <label for="updateform-email" class="control-label">Email</label>
                                        <input type="text" placeholder="((unchanged))" ng-model="user.email"
                                               name="UpdateForm[email]" class="form-control"
                                               id="updateform-email">

                                        <div class="help-block"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group field-updateform-password">
                                        <label for="updateform-password" class="control-label">Password</label>
                                        <input type="password" placeholder="((unchanged))" ng-model="user.password"
                                               name="UpdateForm[password]" class="form-control"
                                               id="updateform-password">

                                        <div class="help-block"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <button ng-click="update()" name="update-button" class="btn btn-primary">Update
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>