<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Mobile number</th>
        <th>Status</th>
        <th>Updated</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users">
        <th scope="row">{{user.id}}</th>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.mobile_number}}</td>
        <td>{{user.status}}</td>
        <td>{{user.updated_at}}</td>
        <td>
            <span>
                <a id='edit-btn-edit' href="#edit/{{user.id}}"
                type="button" class="btn btn-xs btn-warning action-btns"><i
                class="glyphicon glyphicon-edit"></i> edit
                </a>
                <a id='edit-btn-delete' ng-click="delete(user.id)" type="button"
                class="btn btn-xs btn-warning action-btns"><i class="glyphicon glyphicon-edit"></i>
                delete
                </a>
            </span>
        </td>
    </tr>
    </tbody>
</table>